<% layout('layouts/boilerplate')%>
<div class="row">
    <a href="/entries">Back to Library</a>

    <h1 class="text-center">New Book</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/books" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="book[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Author">Author</label>
                <input class="form-control" type="text" id="author" name="book[author]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="Genre">Genre</label>
                <input class="form-control" type="text" id="genre" name="book[genre]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="pageCount">Page count</label>
                <input class="form-control" type="text" id="pageCount" name="book[pageCount]" onkeypress="return isNumber(event)">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" id="description" name="book[description]">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <input type = "hidden" name = "book[coverUrl]" value ="/images/genericbookcover.jpg" />


            <!-- <div class="mb-3">
                <div>
                    <input class="form-check-input" type="radio" id="read" name="shelf"required value="read"></input>
                    <label class="form-check-label" for="read">Read</label>
                </div>
                
                <div>
                    <input class="form-check-input" type="radio" id="Reading" name="shelf"required value="reading"></input>
                    <label class="form-check-label" for="Reading">Reading</label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" id="WantToRead" name="shelf"required value="wantToRead"></input>
                    <label class="form-check-label" for="WantToRead">Want to Read</label>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            
            <div class="mb-3">
                <button class="btn btn-success">Add Book To Library</button>
            </div>
        </form>
    </div>
</div>