<% layout('layouts/boilerplate')%>
<div>
    <h1>ReadMore</h1>
    <div class="text-center">

        <p>ReadMore is designed to help you catalog and keep track of all the books you are currently reading,
            the books you want to read, and an archive of the books you've read in the past. To get started
            register an account below or login if you already have an account.</p>
            
            <a class="btn btn-success" href="/login">Login</a>
            <a class="btn btn-success" href="/register">Register</a>
    </div>
</div>