<% layout('layouts/boilerplate')%>
<div class="container">

        <div class="row">
            <div class="col my-3">
                <h1 class="text-center">Welcome to Your Ultimate Book Catalog</h1>
                <p class="text-center col-sm-12 col-md-8 mx-auto"> Discover a world of books at your fingertips! Our platform is designed to help you effortlessly catalog your 
                    reading journey. Whether you're an avid reader or just starting out, you can easily search for books and organize
                     them into personalized shelves.
                </p>
                <p class="text-center col-sm-12 col-md-8 mx-auto">
                    Not only can you keep track of your literary adventures, but you can also jot down notes or summaries for each title,
                     ensuring that the insights and lessons you gain are never forgotten. Dive into your reading experience,
                      connect with like-minded book lovers, and make your reading journey truly memorable. Start building your bookshelf today!
                </p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary" href="/register" role="button">Get Started</a>
                </div>
            </div>
        </div>

        <div class="row bg-secondary text-dark">
            <div class="col-md text-center my-3">
                <h3>Search for Books</h3>
                <img src="/images/search.png" alt="search" id="featurePreview">
            </div>
            <div class="col-md text-center my-3">
                <h3>Organize Your Shelves</h3>
                <img src="/images/library.png" alt="shelves" id="featurePreview">
            </div>
            <div class="col-md text-center my-3">
                <h3>Take Notes and Summaries</h3>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col" id="registerForm">
                <div class="card shadow ">
                        <div class="card-body py-1">
                            <h5 class="card-title text-center">Register</h5>
                            <form action="/register" method="POST" class="validated-form" novalidate>
                                <div>
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" type="text" id="username" name="username" required autofocus>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" type="email" id="email" name="email" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" id="password" name="password" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-success btn-block my-1">Register</button>
                                    <p><small>Already have an account? Sign in <a href="/login">here</a></small></p>
                                </div>
                            </form>
                        </div>
                        
                    </div>
            </div>  

        </div>
        
</div>