a.shelfTitle {
    text-decoration: none !important;
    color: #212529 !important;
}

  

span a {
    text-decoration: none;
    color:white;
}

span a:hover {
    color:white;
}

span:hover {
        background-color: #474c52!important;
}

p.description {
    text-indent: 20px;
}

img.entryIndex {
    display:block;
    width: auto;
    height: auto;
    max-width: 0px;
    max-height: 60px;

}

img.shelfView {
    display:block;
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 60px;

    
}

p.link { cursor: pointer !important; }

div.shelf {
    max-width: 90%;
}

